body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

svg {
  width: 200px;
  height: 200px;
}

#circle1 {
  fill: tomato;
}

#circle2 {
  fill: cornflowerblue;
}

#circle3 {
  fill: yellowgreen;
}

#text1 {
  text-anchor: middle;
  fill: white;
  font-size: 100px;
}

.circles {
  display: flex;
  justify-content: space-evenly;
}

.hasBorder {
  stroke: black;
  stroke-width: 5px;
}

.zeroOpacity {
  opacity: 0;
}

.fullOpacity {
  opacity: 1;
}
